{% extends 'admin.html.twig' %}

{% block title %}Edit Question{% endblock %}

    {% block admin_right_nav %}

        <p>Redagavimo navigacija:</p>
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-general-list" data-toggle="collapse" href="#list-general" data-target="#home" role="tab" aria-controls="home">Bendra</a>
            <a class="list-group-item list-group-item-action" id="list-buttons-list" data-toggle="collapse" href="#list-buttons" data-target="#buttons" role="tab" aria-controls="buttons">Mygtukai</a>
            <a class="list-group-item list-group-item-action" id="list-groups-list" data-toggle="collapse" href="#list-groups" data-target="#groups" role="tab" aria-controls="groups">Grupes</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="collapse" href="#list-settings" data-target="#settings" role="tab" aria-controls="settings">Parinktys</a>
        </div>
        <div class="my-2"></div>
        <p>Ištrinti klausimą:</p>
        <a > {{ include('question/_delete_form.html.twig') }}</a>

    {% endblock %}

    {% block admin_main %}

        {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    {% endblock %}

