{# templates/emails/password.html.twig #}
<table style="border-spacing:0;border-collapse:collapse;font-family:proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;width:100%!important;height:100%!important;color:#4c4c4c;font-size:15px;line-height:150%;background:#ffffff;margin:0;padding:0;border:0">
    <tbody>
    <tr style="vertical-align:top;padding:0">
        <td align="center" valign="top" style="vertical-align:top;padding:0">
            <table style="border-spacing:0;border-collapse:collapse;font-family:proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;width:600px;color:#4c4c4c;font-size:15px;line-height:150%;background:#ffffff;margin:40px 0;padding:0;border:0">
                <tbody>
                <tr style="vertical-align:top;padding:0">
                    <td align="left" valign="top" style="vertical-align:top;text-align:left;padding:0;width: 100%">
                        <h1 style="color:black;font-family:hybrea,proxima-nova,'helvetica neue',helvetica,arial,geneva,sans-serif;text-align:left;margin-bottom: 20px">
                            Slaptažodžio keitimas
                        </h1>
                        <p style="color:black;margin:20px 0">
                            Gautas prašymas pakeisti naudotojo slaptažodį, kuris surištas su šiuo elektroniniu paštu. Jei norite pakeisti slaptažodį, paspauskite toliau pateiktą nuorodą:
                        </p>
                        <p style="color:black;margin:20px 0">
                            <a style="color: #007bff;"
                               href="{{ app.request.schemeAndHttpHost ~ path('user_reset_password_confirm', {'string': user.reset}) }}">
                                {{ app.request.schemeAndHttpHost ~ path('user_reset_password_confirm', {'string': user.reset }) }}
                            </a>
                        </p>
                        <p style="color:black;margin:20px 0">
                            Nepaisykite šio el. laiško, jeigu nenorite pakeisti slaptažodžio.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>