{# templates/emails/password.html.twig #}
<div class="jumbotron">
    <h1 class="display-4 mb-1">Slaptažodžio keitimas</h1>
    <p class="lead">Paspauskite žemiau pateiką nuorodą, kad pakeistumėte slaptažodį. Tai užtruks vos porą sekundžių!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{{ path('user_reset_password_confirm', {'string': user.reset}) }}" role="button">Pakeisti slaptažodį</a>
</div>

<div class="row justify-content-center">
    <p class="mb-3"> Jūsų prisijungimo duomenys:</p>
</div>
<div class="row justify-content-center">
    <table class="table table-bordered w-50 float-left ">
        <tbody>
        <tr>
            <td>Elektroninis paštas</td>
            <td class="text-center">{{ user.email }}</td>
        </tr>
        <tr>
            <td >Vardas</td>
            <td class="text-center">{{ user.name }}</td>
        </tr>
        <tr>
            <td >Pavardė</td>
            <td class="text-center">{{ user.lastName }}</td>
        </tr>
        </tbody>
    </table>
</div>