
/*general css properties*/
.custom-file-label::after {
    content: "Ieškoti";
}

*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration: none!important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
h1 {
    font-family: 'Dosis', sans-serif;
    margin-bottom: 2rem;
    font-size: 3rem;
}

h2 button, h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.35rem !important;
    font-weight: normal;
}
h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.85rem !important;
    font-weight: normal;
    text-overflow: ellipsis;
    width: auto;
    overflow:hidden;
}
p {
    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
    overflow:hidden;
    margin-bottom: 0;
}
body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.wrap {
    display:block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.vh-file {
    height: 100%;
    max-height: 50vh;
    min-height: 25vh;
    max-width: 100%;
}
.vh-file-empty {
    height: 20vh;
    max-height: 20vh;
    min-height: 20vh;
}
.mt-25 {
    margin-top: 25vh;
}
.mt-15 {
    margin-top: 15vh;
}
.mt-10 {
    margin-top: 10vh;
}
.w-49-5{
    width: 49%;
}
.w-15 {
    width: 15%;
}
.w-12 {
    width: 12%;
}
.pr-2-5 {
    padding-right: 0.7rem !important;
}
.p-file {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
.table-index {
    table-layout: fixed;
}
.table-header-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    transition: all 300ms;
}
.bg-blue {
    background-color: #007BFF;
}
.btn-no-top-radius {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.btn-no-bottom-radius{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-no-right-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-no-left-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.model {
    z-index: 1073;
}
.border-grey-separator {
    border-top: 1px solid #D9DADB;
}
.display-hidden {
    display: none;
}
.display-block {
    display: block;
}
.modal-footer-custom {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.modal-title {
    font-family: 'Dosis', sans-serif;
    font-size: 1.7rem;
}
.custom-radio-validation-dark:before {
    border-color: #B02A37 !important;
}
.custom-radio-validation-light:before {
    border-color: #E6717C !important;
}
.text-muted-custom {
    color: #6c757d;
}
.invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)!important;
    padding-right: calc(1.5em + 0.75rem)!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")!important;
    background-repeat: no-repeat!important;
    background-position: center right calc(0.375em + 0.1875rem)!important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)!important;
}
.valid {
    border-color: #28a745!important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25)!important;
    padding-right: calc(1.5em + 0.75rem)!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")!important;
    background-repeat: no-repeat!important;
    background-position: center right calc(0.375em + 0.1875rem)!important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}
.text-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.font-acc {
    font-size: 1.1rem;
}
.timer, .chronometer {
    letter-spacing: 0.02rem;
}
.border-dark-ni{
    border-color: #343a40;
}
.pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/*top navbar*/

.bd-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1040;
}

.bd-sidebar {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: -webkit-sticky;
    position: sticky;
    top: 3.6rem;
    z-index: 1000;
    height: calc(100vh - 3.5rem);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

/*left navigation sidebar */

nav .bd-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.bd-links {
    max-height: calc(100vh - 9rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bd-toc-item.active:not(:first-child) {
    margin-top: 1rem;
}
.bd-toc-item.active {
    margin-bottom: 1rem;
}
.bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    letter-spacing: 0.01rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(0,0,0,.65);
}
.nav-link {
    display: block;
    padding: .25rem 2.5rem;
    color: rgba(0,0,0,.65);
    font-size: .9rem;
}
.nav-link:hover, .bd-toc-link:hover {
    color: rgba(0,0,0,.85);
}
.nav-link.active, .bd-toc-link.active {
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: rgba(0,0,0,.7);
}
@media only screen and (min-width: 768px){
    .bd-sidebar {
        padding-right: 0px;
        padding-left: 0px;
    }
    .nav-link {
        padding-right: 0px !important;
    }
    .bd-links {
        max-height: calc(100vh - 9rem);
        overflow-y: auto;
        display: block!important;
    }
}
.navigation-sm{
    display: none !important;
}
@media only screen and (max-width: 970px){
    .bd-sidebar {
        top: 0;
        position: relative;
        height: auto;
        border: 0;
    }
    .bd-links {
        overflow-y: hidden;
        padding: 0;
    }
    .bd-toc-item {
        margin: 0 !important
    }
    .navigation-sm{
        display: block !important;
        width: 100%;
    }
    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .collapse:not(.show) {
        display: none !important;
    }

}
@media only screen and (max-width: 1200px){
    .bd-toc-link {
        padding-left: 0.5rem;
    }
    .nav-link {
        padding-left: 1rem;
    }
    .bd-sidebar {
        min-width: 10rem;
    }
    .bd-toc{
        display: none;
    }
    .px-md-5 {
        padding-right: 15px !important;
        padding-left: 15px!important;
    }
}
.disabled-menu {
    color: rgba(0,0,0,.35);
}
.disabled-menu:hover {
    color: rgba(0,0,0,.35);
}
/* right navigation sidebar */

.bd-toc {
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 3.6rem);
    overflow-y: auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    top: 3.6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
}
.d-none {
    display: none !important;
}
@media only screen and (max-width: 1200px){
    .bd-toc {
        width: auto;
    }
    .section-nav {
        border: 0;
    }
}
@media only screen and (max-width: 1600px){
    .bd-toc {
        padding-right: 0;
        padding-left: 0;
    }
    .toc-entry {
        padding: .125rem 0.5rem !important;
    }
}
@media only screen and (min-width: 1200px){
    .d-xl-block  {
        display: block !important;
    }
}
.section-nav {
    padding-left: 0;
    border-left: 1px solid #eee;
}
.toc-entry {
    display: block;
    padding: .125rem 1.5rem;
}
.toc-entry a, .toc-entry p, .toc-entry span {
    display: block;
    padding: 0;
    margin: 0;
    color: #77757a;
    font-size: 0.9rem;
}
.toc-entry a.badge {
    width: auto;
    padding: 3px 0;
    font-weight: normal;
}
.toc-entry p {
    font-weight: bold;
}
.modal-append-show {
    text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
    overflow:hidden;
}
/*main content column*/

.bd-content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

@media only screen and (max-width: 1200px){
    .bd-content  {
        min-width: 48rem;
    }
    .pl-md-5 {
        padding-left: 1rem !important;
    }
    h1 {
        margin-bottom: 0.5rem;
    }
}

.p-form {
    padding: 7px 15px;
}

/*questions */

.table-borderless th:not(:last-child) {
    border-right: 1px solid white;
}
.table-borderless td:not(:last-child) {
    border-right: 1px solid #007BFF;
}
.table-borderless tr {
    border-top: 1px solid #eee;
}

.p-card {
    padding: 12px 20px;
}

/*groups */

.p-h4 {
    font-size: 1.1rem !important;
}

/*tests*/

 .bootstrap-datetimepicker-widget table th{
    border: 0;
}

.question-label {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}
.label-number-gap {
    min-width: 3rem;
}

.q-content {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
}

/*flash message css */

.alert-message {
    width: 90%;
}
/*font awesome icon css*/

.fa-caret-down {
    font-size: 22px;
}

.fa-sort,
.fa-sort-up,
.fa-sort-down,
.fa-file-o,
.fa-pencil,
.fa-trash,
.fa-eye,
.fa-copy,
.fa-file-excel-o,
.fa-check-circle,
.fa-plus-square {
    font-size: 24px;
}
.fa-filter {
    font-size: 16px !important;
    height: auto;
    color: #939393;
}
.fa-calendar {
    font-size: 1rem;
}
.pointer {
    cursor: pointer;
}
.pointer-default {
    cursor: default;
}
.registration-success {
    font-size: 2.2rem;
}
/*jquety animations */

.rotation {
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.transition {
    -moz-transition: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.table-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Dosis', sans-serif;
}
.header-transform {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Dosis', sans-serif;
}